<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <!--支持 浏览器内核 webkit、ie-comp IE兼容、ie-stand IE标准 -->
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <!--开启IE兼容模式  -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--移动设备支持， width=device-width 自适应宽度,initial-scale=1.0 初始缩放比例为1:1,user-scalable 用户是否可以手动缩放-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-transform"/>
  <title></title>
  <link rel="stylesheet" href="../../dist/css/bootstrap.min.css" />
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/BootStrapApp/dist/js/lib/html5shiv.min.js"></script>
  <script type="text/javascript" src="/BootStrapApp/dist/js/lib/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">W3Cschool</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">iOS</a></li>
              <li><a href="#">SVN</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">jmeter</a></li>
                  <li><a href="#">EJB</a></li>
                  <li><a href="#">Jasper Report</a></li>
                  <li class="divider"></li>
                  <li><a href="#">分离的链接</a></li>
                  <li class="divider"></li>
                  <li><a href="#">另一个分离的链接</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <script data-main="../../dist/js/view/index" src="../../dist/js/lib/require.min.js"></script>
</body>

</html>
